.maindiv{
/* border: 1px solid black; */
align-items: center;
text-align: center;
padding: 1rem;
height: 52vh;
width: 20vw;
box-shadow: 0 5px 5px 5px rgba(209, 208, 208, 0.868);
}

.image{
border: 1px solid black;
height: 15rem;
width: 12rem;
align-items: center;
margin: auto;
}
.image img{
    height: 15rem;
    width: 12rem;
}

.title{
    font-weight: 700;
}


h1{
    text-align: center;
    margin-bottom: 1.9rem;
}
